ShibMultiFactorAuth {
 
   edu.vt.middleware.ldap.jaas.LdapLoginModule required
      host="localhost"
      port="389"
      ssl="false"
      base="ou=people,dc=umbrellaid,dc=org"
      tls="false"
      userField="uid"
   ;
 
   com.yubico.jaas.HttpOathOtpLoginModule sufficient
      protectedUrl = "https://umbrellaid.org/oath-protected/"
      expectedOutput = "Authenticated OK.";
};

